
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IAS MarketPlace</title>
    <script src="~/scripts/react.min.js"></script>
    <script src="~/scripts/react-dom.min.js"></script>
    <script src="~/scripts/browser.min.js"></script>
    <script src="~/scripts/Main.js" type="text/babel"></script>
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/f54c4ee70a.js"></script>
</head>
<body>
    <div id="container"> 
    </div>
</body>
</html>
